:root{
    --negro:black;
    --blanco:#fff;
    --color_fuente_grisclaro_header:rgb(117, 111, 111);
    --color_boton_ada1:rgb(100, 98, 98);
    --color_boton_ada2:rgb(228, 68, 57);
    --color_boton_react:rgb(43, 202, 255);
    --color_boton_js:rgb(255, 196, 0);
    --color_header:rgb(30, 29, 29);
    --fuente_general:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --tamaño_fuente_header:40px;
    --margin_cero: 0px;
    --color_boton_verde:rgb(59, 170, 59);
    --tamaño_fuente_botones: medium;
    --tamaño_fuentes_etiquetas_oradores:smaller;
    --color_boton_enviarform_verde:rgb(146, 205, 42);
    --color_fuente_form:rgb(6, 6, 41);
    --color_footer:rgb(16, 46, 73);
    --altoinputcomprar:30px;
    --borderRadioinputsComprartickets:4px;
    --colorbordesinputscomprartickets:rgba(129, 131, 133, 0.363);
    --colorTotalAPagar:rgb(166, 216, 231);
    --coloresbotonesfinalform:rgb(121, 197, 50);

}
#botonMenu:hover, #botonMenu svg:hover{
    cursor: pointer;
}
html, body{
    box-sizing: border-box;
    font-family: var(--fuente_general);
    margin: var(--margin_cero);
    padding: var(--margin_cero);
    overflow-x: hidden;
    
}

/* footer  */
footer{
    object-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--color_footer);
}
.cont-nav-2{

    width: 80%;
}
.navegador-2, .navegador-2 a, .navegador-2-footer  {
    font-size: large;
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    justify-content: space-evenly;

}
.navegador-2 a{
    width: 12%;
}


/* footer --------------------- */




.alineador_vertical{
    display: flex;
    align-items: center;
}
.header{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: var(--color_header);
    margin-left: var(--margin_cero);
    margin-right: var(--margin_cero);
    margin-bottom: 50px;
    color: var(--blanco);
    padding-right: 20px;


}
/* .navegador{
    background-color: aqua;
} */

.navegador div {

    /* background-color: violet; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content:space-evenly;
    /* justify-content:space-between; */
}

#botonMenu{
    display: none;
}
.header_element--1{
    width: 30%;
}
.header_element--2{
    width: 75%;
}
#contenidoMenu{
    display: block;
    background-color: var(--color_header);
}
.header_element--2--opcion-1 {
    color: var(--blanco);
}
.header_element--2--opcion-2{
    color: var(--color_boton_verde);
}

.header_element--2--opcion{
    text-decoration: none;
    font-size: larger;
    padding: 10px;
}

.header_element--2--opcion-3{
    color: var(--color_fuente_grisclaro_header);
}
.header_element--1--img{
    width: 100px;
    height: auto;
    margin-left: 50px;
}

.secyionCompraTicket{
    width: 100%;
    /* height: 1400px; */
    height: auto;
    margin-top: 0px;
    margin-bottom: 100px;
}
.contenedorCompraTickets{
    box-sizing: border-box;
    margin: 20px auto 10px auto;
    width: 80%;
    height: auto;
    
}

.CompraTickets-sec1-ofertas{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto 0px auto;
    height: 290px;
    width: 100%;
    box-sizing: border-box;
}
.ofertas{
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    width: 30%;
    height: 80%;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: center;
    font-size: larger;
}
.ofertas-1{
    border-color: #3699db;
}
.ofertas-2{
    border-color: #28a2f3;
}
.ofertas-3{
    border-color: #b8ab00;
}
.ofertas:hover{
    cursor: pointer;
    transition: 4ms;
    height: 240px;
    width: 35%;
    box-shadow: 2px -2px 10px 0 rgb(29, 74, 143);
}
.tickets{
    overflow: hidden;
    margin: 10px auto 10px auto ;
    min-height: auto;
    width: 100%;
    
}
.venta-tituloform{
    text-align: center;
    font-size: large;
}
.venta-tituloform h2{
    font-size: medium;
    color: var(--color_fuente_grisclaro_header);
}

.div-form{
    width:70% ;
    margin: auto auto;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.div-form form{
    width: 100%;
    height: 100%;
}


.dis-todosForm{
    width: 100%;
    margin-bottom: 15px;
}
.div-inputs-NameApellido{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
}
.selectorycantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}



.doblesinputsdivisions{
    width: 48%;
}
.inputscargardatostodosigual{
    border-style: solid;
    border-color: var(--colorbordesinputscomprartickets);
}
.generalinputsforms{
    height: var(--altoinputcomprar);
    border-radius: var(--borderRadioinputsComprartickets);
    border-width: 1px;
}
.div-input-correo{
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.inputcorreo{
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
}
.label-categoriaycantidad {
    padding-left: auto;
    padding-right: auto ;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.ajusteSelector{
    margin-left: 7px;
}
.div-selectCantidad{
    
    width: 100%;
    display: inline;
    justify-content: space-between;
}
.labelCategoria2{
    display: none;
    margin-bottom: 3px;
}
.selectcom{
    height: 34px;
}
.cont{
    margin: 20px auto 50px auto;
    height: 50px;
    padding: 0.6%;
    width: 100%;
    box-sizing: border-box;
}
#resumeHere{
    
    text-align: center;
    height: auto;
    width: 100%;
    margin: 20px auto 30px auto;
}
.div-botonesfinalform{
    margin-top: 30px;
    margin-bottom: 30px;
}
.botonesfinalformulario{
    font-size: large;
    margin-left: 1%;
    border: none;
    color: var(--blanco);
    background-color: var(--coloresbotonesfinalform);
    height: 38px;
}
.botonesfinalformulario:hover{
    cursor: pointer;
}
.textTotalApagar{
    margin-left: 20px;
    width: 25%;
}
.inputTotalApagar{
    width:80%;
    box-sizing: border-box;
}
#BedesPagar{
    color: rgb(9, 9, 51);
    font-size: 28px;
    width: 100%;
    box-sizing: border-box;
}
.total{
    border: none;
    height: var(--altoinputcomprar);
    background: none;
    margin-right: 30px;
    margin-left: 0px;
    width: 60%;
    box-sizing: border-box;
}
.total:hover{
    cursor: default;
}
.TotalAPagar{
    font-size: larger;
    color: rgb(0, 44, 126);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color:var(--colorTotalAPagar) ;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    float: inline-start;
    overflow: hidden;
}
input, select, option, button{
    outline: none;
}
select:hover{
    cursor:pointer;
}



@media (max-width:945px ){
    .textTotalApagar{
        width: 30%;
    }   
    .inputTotalApagar{
        width: 70%;
    }
    .total{
        width: 60%;
    }
    .contenedorCompraTickets{
        width: 90%;
    }
    
}
@media (max-width:747px ){
    .textTotalApagar{
        width: 50%;
    }   
    .inputTotalApagar{
        width: 50%;
    }
    .total{
        width: 100%;
    }
}
@media (max-width: 900px){
    .header{

        box-sizing: border-box;
        padding: 3px;

        flex-direction: column;

    }
    .header_element--1{

        width: 100%;
        margin: 0px;
        /* background-color: aqua; */
    }
    .header_element--2{
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }

    footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
        box-sizing: border-box;
        margin-top: 80px;

        height: 120px;
        overflow: hidden;


    }
    .cont-nav-2{
        margin-left: auto;
        margin-right: auto;
        /* background-color: aqua; */


        box-sizing: border-box;

    }
    


    #botonMenu{
        position: absolute;
        top: 15px;
        right: 17px;
        display: block;
        /* background-color: rgb(255, 0, 0); */

    }
    #contenidoMenu{
        margin: 0 0 30px 0;
        width: 100%;
        height: 90px;
        display: none;
    }
}
@media (max-width:856px ){
    .div-form{
        width: 80%;
    }
    .cont-nav-2{
        width: 100%;
    }
    .navegador-2{
        width: 100%;
    }
}
@media (max-width:724px ){
    .ofertas{
        width: 33%;
    }
    footer{
        height: 200px;

    }
    .cont-nav-2{
        padding-top: 10px;
    }
    .navegador-2{
        display: flex;
        flex-direction:column ;
    }
    .navegador-2 a {
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
    }

}
@media (max-width:717px ){
    .div-input-correo{
        box-sizing: border-box;
    }
    .div-inputs-NameApellido{
         display: block;
         
         height: 100px;
         box-sizing: border-box;
         
    }
    .div-inputs-NameApellido input{
         margin-left: 1%;
         margin-right: 1%;
         margin-bottom: 24px;
         width: 96%;
    }
 
 }
@media (max-width: 631px){
    .doblesinputsdivisions {
        width: 47%;
    }
    
}

@media (max-width:492px ){
    .label-categoriaycantidad {
        justify-content: left;

    }  
    .ajusteSelector{
        width: 100%;
        margin: auto;
    }
    #cantidadBoletos{
        width: 100%;
    }
    .labelCategoria{
        display: none;
    }
    .labelCategoria2{
        display: block;
    }
    .div-form{
        width: 90%;
    }
    .tickets{
        width: 98%;
    }
    .contenedorCompraTickets{
        width: 100%;
    }
    .textTotalApagar{
        width: 50%;
    }   
    .inputTotalApagar{
        width: 50%;
    }
    .total{
        width: 100%;
    }
    .selectorycantidad{
        
        flex-direction: column;
    }
}
@media (max-width:724px ){
    footer{
        height: 200px;

    }
    .cont-nav-2{
        padding-top: 10px;



    }
    .navegador-2{
        display: flex;
        flex-direction:column ;
    }
    .navegador-2 a {
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        

    }

}

@media (max-width: 547px){
    .navegador div {
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
}

@media (max-width: 465px){
     
    #botonMenu{
        display: block;
        /* background-color: rgb(255, 0, 0); */
        position:absolute ;
        right: 0;

    }
    #contenidoMenu{
        display: none;


    }
    
}
@media (max-width: 450px){
    
  
    
    
    .CompraTickets-sec1-ofertas{
        display: block;
        height: 750px;
    }
    .ofertas{
        margin: 6px auto ;
        height: 32%;
        width: 70%;
    }
    .ofertas:hover{
        width: 75%;
        height: 33%;
    }
    
    #cantidadBoletos{
        width: 98%;
    }
    .div-selectCantidad{
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100px;
        padding-right: auto;
        padding-left: auto;
    }
    .cantselection{
        width: 100%;
    }
    footer{
        height: 250px;
    }
    .labelCategoria{
        display: none;
    }
    .labelCategoria2{
        margin-left: 2px;
        display: block;
    }
    .label{ 
        /* margin-left: 10px; */
        width: 100%;
    }
    .ajusteSelector{
        margin-left: auto;
    }

}
@media (max-width: 410px){
    footer{
        height: 250px;
    }
}

@media (max-width: 357px){
    #cantidadBoletos{
        width: 96%;
    }
    .header{
        display: flex;
        align-items: first baseline;
        height: 120px;
    }
    .header_element--1{
        padding-top: 10px;
        width: 50%;
        text-align: center;
        display: block;
    }
    .header_element--1 img, .header_element--1 h2{
        margin-bottom: 0%;
        margin-top: 0px;
        box-sizing: border-box;

    }
    .header_element--1 img{
        margin-left: 0%;
    }
    .contenidoMenu, .navegador, .navegador div{
        display: flex;
        flex-direction: column;
    }

}
@media (max-width:340px ){
    .textTotalApagar , .textTotalApagar p{
        text-align: center;
        width: 100%;
    }
    .cont{
        height: auto;
     
    }
    .TotalAPagar{
        height: auto;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .inputTotalApagar{
        margin: auto auto;
        width: 90%;
    }
    #BedesPagar{
        text-align: center;
        margin: auto auto 10px;
        width: 90%;
    }
}
@media (max-width:288px ){
   .header{
        height: 140px;
    }
   .div-botonesfinalform{
        height: auto;
        display: flex;
        flex-direction: column;
   }
   .botonesfinalformulario{
        margin-bottom:20px;
        width: 100%;

    }
}
